<div class="container flex flex-column align-items-center justify-content-center gap-3">
  <p-dropdown 
    [options]="tagOptions" 
    [(ngModel)]="selectedTag"
    placeholder="Select field"
    styleClass="w-12rem"
  ></p-dropdown>

  <p-floatlabel variant="on" style="width: 50%;">
    <p-inputgroup>
      <p-inputgroup-addon>
        <p-button icon="pi pi-search" severity="secondary" (onClick)="onSearchClick()"></p-button>
      </p-inputgroup-addon>
      <input
        pInputText
        [(ngModel)]="inputValue"
        placeholder="Search"
      />
    </p-inputgroup>
  </p-floatlabel>
</div>