.card {
    width: auto;
    background-color: rgba(33,31,31,255);
    border: 1px;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    border-radius: 4px;
    margin-top: 10rem;
}