<div class="flex flex-column align-items-center">
  <div class="card flex flex-column gap-4">

    <div class = 'text-xl' >
      Submit work Info
    </div>

    <form [formGroup]="form">
      <div class="flex flex-column gap-4">
        <p-floatlabel variant="on">
          <div class="flex flex-column gap-2">
            <label for="title">Title</label>
            <input pInputText id="title" type="title" formControlName="title" />
          </div>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <div class="flex flex-column gap-2">
            <label for="author">Author</label>
            <input
              pInputText
              id="author"
              type="author"
              formControlName="author"
            />
          </div>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <div class="flex flex-column gap-2">
            <input
              pInputText
              id="orientator"
              type="orientator"
              formControlName="orientator"
            />
            <label for="orientator">Orientator</label>
          </div>
        </p-floatlabel>
      </div>
    </form>

    <p-fileupload
      (onSelect)="onPdfSelect($event)"
      [multiple]="false"
      maxFileSize="1048487"
      mode="basic"
      accept=".pdf"
      chooseLabel="Upload file"
      chooseIcon="pi pi-upload"
    >
    </p-fileupload>

    <p-button label="Post work" (onClick)="postWork()"></p-button>
  </div>
</div>
