<div class = 'container'>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <p-card 
          *ngFor="let work of workList" 
          [style]="{ width: '20rem', overflow: 'hidden', position: 'relative' }" 
          class="hover:scale-105 transition-transform duration-200"
        >
          <ng-template #header>
            <img 
              [src]="work['previewImageUrl'] || 'assets/pdf-placeholder.png'" 
              alt="Preview" 
              class="w-full object-cover h-64" 
            />

          </ng-template>
      
          <ng-template #title>
            {{ work['title'] || 'No title' }}
          </ng-template>
      
          <ng-template #subtitle>
            {{ work['author'] || 'Unknown' }} <br />
            <small>Orientator: {{ work['orientator'] || 'Not informed' }}</small>
            <div>
              <small>Orientator Review: {{ work['orientatorReview'] || 'Not informed' }}</small>
            </div>
          </ng-template>
      
          <ng-template #footer>
            <p-button label="View" icon="pi pi-eye" (click)="viewPdf(work['content'])" />
          </ng-template>
        </p-card>
      </div>
      
</div>
